<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- Шапка -->
    <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">

                    <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-overlay"
                        style="border-style: none">
                        <img data-src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/280px-Hamburger_icon.svg.png"
                             width="30" alt="" uk-img></button>
                    <li><a href="#">Отчеты</a></li>
                    <li><a href="#">Квартальные данные</a></li>
                    <li><a href="#">Справочники</a></li>
                    <li><a href="#">Документация</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if request.user.is_authenticated %}
                    <a class="uk-navbar-item uk-logo" href="#"><h3 style="margin-right: 20px; margin-top: 15px" uk-tooltip="title: {{ request.user.get_organization }}; pos: left">
                        {{ request.user.get_full_name }}</h3><img data-src="https://img.pngio.com/outline-person-svg-png-icon-free-download-357118-png-person-outline-980_980.png"
                             width="30" alt="" uk-img></a>
                        <div uk-dropdown="pos: bottom-right">
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header">{{ request.user.get_organization }}</li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="#">Выйти</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="uk-navbar-item uk-logo" href="#"><h3 style="margin-right: 20px; margin-top: 15px">
                        Войти</h3><img data-src="https://img.pngio.com/outline-person-svg-png-icon-free-download-357118-png-person-outline-980_980.png"
                             width="30" alt="" uk-img></a>
                    {% endif %}
                </ul>
            </div>
        </nav>

    <!-- Боковое меню -->
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <h3 style="text-align: center">Разделы</h3> <hr class="uk-divider-icon">
            <a href="{% url 'feed' %}">● Новости</a> <hr class="uk-divider-small">
            <a href="#">● Журнал нахождения работников (ИрЦУАТ)</a> <span class="uk-badge">5</span> <hr class="uk-divider-small">
            <a>● Плановые совещаяни Ш</a> <hr class="uk-divider-small">
            <a>● Журнал учета подрядных оранизаций</a> <hr class="uk-divider-small">
            <a>● Документы</a> <hr class="uk-divider-small">
        </div>
    </div>

    <!-- Тело -->
    {% block content %}{% endblock %}

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
</body>
</html>