{% extends 'main/main.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    {% if news %}
    {% for element in news %}
    <div class = "uk-margin-top">
        <article class="uk-comment uk-comment-primary" style="background-color: #ffffff">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        {% for tag in element.feed_tags.all %}
                            <span class="uk-label uk-label-danger">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </header>
        <div class="uk-comment-body">
            <h4 class=".uk-text-lead">{{ element.feed_title }}</h4>
            <p class=".uk-text-meta">{{ element.feed_text }}</p>
            <footer class="uk-align-right uk-text-right@l uk-padding-remove">
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ element.feed_author }}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove uk-align-right">
                        <li><h1 class=".uk-text-muted">{{ element.feed_pub_date }}</h1></li>
                    </ul>
                </div>
            </footer>
        </div>
        </article>
    </div>
    {% endfor %}
    {% else %}
        <p>Новостей нет!</p>
    {% endif %}
    {% include "feeds/pagination.html" with page=news %}
{% endblock %}