{% extends 'main/main.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="uk-container uk-container-small uk-position-relative">
    {% if news %}
    {% for element in news %}
    <div class = "uk-margin-top">
        <article class="uk-comment uk-comment-primary" style="background-color: #ffffff">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        {% for tag in element.feed_tags.all %}
                            <span class="uk-label uk-label-danger">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>

            </header>
        <div class="uk-comment-body">
            <a href="{% url 'FeedView' element.pk %}"><h2 class=".uk-text-lead">{{ element.feed_title }}</h2></a>
            <p class=".uk-text-meta">{{ element.feed_text|truncatewords:100|safe}}</p>
            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-auto">
                                        <span class="uk-label">
                                            {% for file in element.feed_file.all %}
                                                {% if file.file_title == '.doc' or '.docx' %}
                                                    <img width="22" height="22" src="{% static 'icon/Word.png' %}">
                                                {% elif file.file_title == '.xls' or '.xlsx' %}
                                                    <img width="22" height="22" src="{% static 'icon/Excel.png' %}">
                                                {% elif file.file_title == '.pdf' %}
                                                    <img width="22" height="22" src="{% static 'icon/Pdf.png' %}">
                                                {% elif file.file_title == '.ppt' or '.pptx' %}
                                                    <img width="22" height="22" src="{% static 'icon/PowerPoint.png' %}">
                                                {% endif %}
                                                <a style="color: white" href="/media/{{ file.file_name }}">{{ file.file_title }}</a>
                                            {% endfor %}
                                        </span>
                                        </div>
            </div>
            <footer class="uk-align-right uk-text-right@l uk-padding-remove">
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{ element.feed_author }}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove uk-align-right">
                        <li><h1 class=".uk-text-muted">{{ element.feed_pub_date }}</h1></li>
                    </ul>
                </div>
            </footer>
        </div>

        <div class="uk-align-right uk-text-right@l uk-padding-remove" style="width: 130px;">
        <div style="position: fixed;top: 93%;">
            <a class="uk-button uk-button-primary uk-navbar-right" style="background-color: #27475c" href="{% url 'FeedCreate' %}">Добавить</a>
        </div>
            </div>

        </article>

    </div>
        </div>
    {% endfor %}
    {% else %}
        <p>Новостей нет!</p>
    {% endif %}
    {% include "feeds/pagination.html" with page=news %}
{% endblock %}