
/*Тело*/
body{
    background-color: #f1f2f6;
    padding-bottom: 20px;
}
#header{
    background-color: #27475c;
}
#username{
    margin-right: 20px;
    margin-top: 15px;
    color: #f1f2f6;
}
/* Общий класс для навигации */
.top_buttons {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 20px;
}
/* Список */
.top_buttons > li{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    margin-left: 5px;
    vertical-align: center;
    padding: 20px; /* Поля вокруг текста */
}
/* Ссылки внутри меню */
.top_buttons > li > a:link, a:visited, a:active {
    color: #fff6ee;
    text-decoration: none;
    transition: 0.2s linear;
}
.top_buttons > li > a:hover {
    color: #f0506e;
    text-decoration: none;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
  border: 1px solid #ddd;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}