
/*Тело*/
body{
    background-color: #f1f2f6;
    padding-bottom: 20px;
}
#header{
    background-color: #27475c;
}
#username{
    margin-right: 20px;
    margin-top: 15px;
    color: #f1f2f6;
}
/* Общий класс для навигации */
.top_buttons {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 20px;
}
/* Список */
.top_buttons > li{
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    margin-left: 5px;
    vertical-align: center;
    padding: 20px; /* Поля вокруг текста */
}
/* Ссылки внутри меню */
.top_buttons > li > a:link, a:visited, a:active {
    color: #fff6ee;
    text-decoration: none;
    transition: 0.2s linear;
}
.top_buttons > li > a:hover {
    color: #f0506e;
    text-decoration: none;
}