{% extends 'main/main.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<table class="styled-table">
    <thead>
        <tr>
            <th>Дата установки</th>
            <th>Предприятие</th>
            <th>Подразделение</th>
            <th>Станция</th>
            <th>Номер стрелки</th>
            <th>Источник питания</th>
            <th>Номер двигателя ЭМСУ</th>
            <th>ФИО</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tr>
    <form method="GET" style=" display: inline-block;" >
                <th>{{ myFilter.form.journal_emsu_date_setup}}</th>
                <th>{{ myFilter.form.journal_emsu_subdivision}}</th>
                <th>{{ myFilter.form.journal_emsu_subdivision}}</th>
                <th>{{ myFilter.form.journal_emsu_station}}</th>
                <th>{{ myFilter.form.journal_emsu_switch_number}}</th>
                <th>{{ myFilter.form.journal_emsu_power_supply}}</th>
                <th>{{ myFilter.form.journal_emsu_engine_number}}</th>
                <th>{{ myFilter.form.journal_emsu_engine_number}}</th>
                <td>
                    <button type="submit" uk-icon="search" style="color: black;"></button>
    </form>

    <a href="{% url 'JournalEMSUCreateView'  %}" uk-icon="plus" style="color: black;"></a>
                </td>
        </tr>
    <tbody>
    {% for EMSU in myFilter.qs %}
            <tr>
                <td>{{ EMSU.journal_emsu_date_setup }}</td>
                <td>{{ EMSU.journal_emsu_subdivision }}</td>
                <td>{{ EMSU.journal_emsu_subdivision }}</td>
                <td>{{ EMSU.journal_emsu_station }}</td>
                <td>{{ EMSU.journal_emsu_switch_number }}</td>
                <td>{{ EMSU.journal_emsu_power_supply }}</td>
                <td>{{ EMSU.journal_emsu_engine_number }}</td>
                <td>{{ EMSU.journal_emsu_engine_number }}</td>
                <td>
                    <div style="text-align: center;">
                        <a  onclick="deleteView({{ EMSU.pk }})"><span uk-icon="trash" style="color: black;"></span></a>
                        <a  href="{% url 'EMSUUpdate' EMSU.pk  %}"><span uk-icon="file-edit" style="color: black;"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <script>
            jQuery(document).ready(function () {
                jQuery('#id_journal_emsu_date_setup').datetimepicker();
            });
        </script>
     <script>
            function deleteView(pk){
                if (window.confirm("Вы дуйствительно хотите удалить данную запись?")) {
                    window.open("/journal/EMSU/delete/"+pk);
            }
        }
    </script>
{% endblock %}