{% extends 'main/main.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    </br>
 <div class="uk-container uk-container-large uk-position-relative">
 <form>
    {{form.media}}
     {% csrf_token %}
     <div class="uk-child-width uk-grid-small uk-grid-match" uk-grid>
         <div>
             <div class="uk-card uk-card-default uk-card-body">
                 <table>
                     <tr>
                         <h3 class="uk-card-title">Добавление двигателя:</h3>
                         <td><p>Станция:{{ form.journal_emsu_station }}</p></td>
                         <td><p>Подразделение:{{ form.journal_emsu_subdivision }}</p></td>
                     </tr>
                 </table>
                 <div>
                     <div class="uk-card uk-card-secondary uk-card-body">
                         <h3 class="uk-card-title">Основные параметры:</h3>
                         <p>
                             <table>
                                 <tbody>
                                 <tr>
                                     <td><p>Дата установки:{{ form.journal_emsu_date_setup}}</p></td>
                         <td><p>Номер стрелки:{{ form.journal_emsu_switch_number }}</p></td>
                         <td><p>Источник питания:{{ form.journal_emsu_power_supply }}</p></td>
                         <td><p>Номер двигателя ЭМСУ:{{ form.journal_emsu_engine_number }}</p></td>
                         <td><p>Год выпуска двигателя ЭМСУ:{{ form.journal_emsu_date_create }}</p></td>
                         </tr>
                         </tbody>
                         </table>
                         </p>

                         <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
                             <div>
                                 <div class="uk-card uk-card-primary uk-card-body">
                                     <h3 class="uk-card-title">МСП</h3>
                                     <table border="1">
                                         <tr>
                                             <td colspan="2">Напряжение при номральном переводе двигателя, В</td>
                                             <td colspan="2">Напряжение при работе на фрикцию двигателя, В</td>
                                         </tr>
                                         <tr>
                                             <td>+(плюс)</td>
                                             <td>-(минус)</td>
                                             <td>+(плюс)</td>
                                             <td>-(минус)</td>
                                         </tr>
                                         <tr>
                                             <td>{{ form.journal_emsu_msp_normal_voltage_plus }}</td>
                                             <td>{{ form.journal_emsu_msp_normal_voltage_minus }}</td>
                                             <td>{{ form.journal_emsu_msp_friction_voltage_plus }}</td>
                                             <td>{{ form.journal_emsu_msp_friction_voltage_minus }}</td>
                                         </tr>
                                     </table>

                                 </div>
                             </div>
                             <div>
                                 <div class="uk-card uk-card-primary uk-card-body">
                                     <h3 class="uk-card-title">ЭМСУ-СП</h3>
                                     <table border="1">
                                         <tr>
                                             <td colspan="2">Напряжение при нормальном переводе двигателя, В</td>
                                             <td colspan="2">Напряжение при работе на фрикцию двигателя, В</td>
                                             <td colspan="2">Усилие перевода при работе на фрикцию, кгс(1кгс = 9.81 Ньютона)</td>
                                         </tr>
                                         <tr>
                                             <td>+(плюс)</td>
                                             <td>-(минус)</td>
                                             <td>+(плюс)</td>
                                             <td>-(минус)</td>
                                             <td>+(плюс)</td>
                                             <td>-(минус)</td>
                                         </tr>
                                         <tr>
                                             <td>{{ form.journal_emsu_emsu_normal_voltage_plus }}</td>
                                             <td>{{ form.journal_emsu_emsu_normal_voltage_minus }}</td>
                                             <td>{{ form.journal_emsu_emsu_friction_voltage_plus }}</td>
                                             <td>{{ form.journal_emsu_emsu_friction_voltage_minus }}</td>
                                             <td>{{ form.journal_emsu_emsu_translation_effort_plus }}</td>
                                             <td>{{ form.journal_emsu_emsu_translation_effort_minus }}</td>
                                         </tr>
                                     </table>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         <input class="uk-button uk-button-primary " style="background-color: #27475c; right: auto" type="submit" value="Добавить">
         </div>
     </div>
 </form>
 <script>

            jQuery(document).ready(function () {
                jQuery('#id_journal_emsu_date_setup').datetimepicker(
        {
        timepicker:false,
        format:'d.m.Y'
        });
                jQuery('#id_journal_emsu_date_create').datetimepicker(
        {
        timepicker:false,
        format:'Y'
        });
            });
        </script>
{% endblock %}