{% extends 'main/main.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-small-top" >
            <h3 class="uk-card-title">Автотранспорт</h3>
<div class="uk-child-width-1-2@m uk-child-width-1-4@l" uk-height-match=".uk-card-body" uk-grid>
    {% for automobile_request in AutomobileRequestList %}

           <div>
<div class="uk-card uk-card-default">
<div class="uk-card-media-top">
<div class="uk-text-center">
<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
<div class="uk-position-center">
<span class="uk-transition-fade" uk-icon="icon: plus; ratio: 2"></span>
</div>
</div>
</div>
    {% if automobile_request.automobile_request_agreed == True %}
        <div class="uk-card-badge uk-label uk-label-success">Согласованно</div>
        {% elif automobile_request.automobile_request_agreed == False %}
        <div class="uk-card-badge uk-label uk-label-danger">Отклонено</div>
        {% elif automobile_request_agreed == None %}
        <div class="uk-card-badge uk-label">На соглосовании</div>
    {% endif %}

</div>
<div class="uk-card-body">
<h3 class="uk-card-title">{{ automobile_request.automobile_request_subdivision|default_if_none:'<font color="red">Отсутсвует</font>'}}</h3>
<p class="uk-text-truncate ">Цель поездки: {{ automobile_request.automobile_request_mission|default_if_none:'<font color="red">Отсутсвует</font>' }}</p>
<p class="uk-text-truncate">Кому: {{ automobile_request.automobile_request_client|default_if_none:'<font color="red">Отсутсвует</font>' }}</p>
<p class="uk-text-truncate">Водитель: {{ automobile_request.automobile_request_executor|default_if_none:'<font color="red">Не назначен</font>' }}</p>
<p class="uk-text-truncate">Марка и номер: {{ automobile_request.automobile_request_automobile|default_if_none:'<font color="red">Отсутсвует</font>' }}</p>
<p class="uk-text-truncate">Время прибытия: {{ automobile_request.automobile_request_arrival_time|default_if_none:'<font color="red">Отсутсвует</font>' }}</p>
<p class="uk-text-truncate">Время возвращения: {{ automobile_request.automobile_request_return_time|default_if_none:'<font color="red">Отсутсвует</font>' }}</p>
<p class="uk-text-truncate">Одометр: {{ automobile_request.automobile_request_odometer|default_if_none:'<font color="red">Не выставлен</font>' }}</p>
<p class="uk-text-truncate">Дата: {{ automobile_request.automobile_request_date_of_travel|default_if_none:'<font color="red">Отсутсвует</font>' }}</p>
<div class="uk-child-width-auto uk-flex-middle" uk-grid>
<div>
</div>
</div>

</div>

{% load user_tags %}
{% if automobile_request.automobile_request_agreed != True %}
    {% if automobile_request.automobile_request_agreed == None and request.user|has_group:"Руководитель"%}
         <div class="uk-card-footer">
            <div class="uk-flex uk-flex-between">
                     {% if automobile_request.automobile_request_client.pk == request.user.pk %}
                <div>
                    <a class="uk-button uk-button-primary uk-text-right" style="color: white;">
                        <span uk-icon="icon: pencil;"></span>
                    </a>
                </div>
                <div>
                     <a onclick="deleteView({{ automobile_request.pk }})" class="uk-button uk-button-danger uk-text-right" style="color: white;">
                        <span uk-icon="icon: trash;"></span>
                    </a>
                </div>
                     {% endif %}
                {% if request.user|has_group:"Руководитель" %}
                    <a class="uk-button uk-text-right" style="background: #32d296; color: white;">
                        <span uk-icon="icon: check;"></span>
                    </a>
                {% endif %}
                </div>
        </div>
    {% endif %}
{% endif %}


</div>
</div>
        {% endfor %}
    </div>
     <script>
           function deleteView(pk){
                if (window.confirm("Вы дуйствительно хотите удалить данную запись?")) {
                    window.open("/automobile/AutomobileRequest/delete/"+pk);
            }
        }
    </script>
{% endblock %}