{% extends 'main/main.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
    {{form.media}}

<div class="uk-container uk-container-small uk-position-relative">
 <div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-small-top" >
            <h3 class="uk-card-title">Обновление заявки на автотранспорт</h3>
    {{form.media}}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="uk-button uk-button-primary " style="background-color: #27475c; right: auto" type="submit" value="Обновить">
    </form>
</div>
 </div>
 </div>
 <script>
            jQuery(document).ready(function () {
                jQuery('#id_automobile_request_date_of_travel').datetimepicker();
                jQuery('#id_automobile_request_arrival_time').datetimepicker({
        datepicker:false,
        format:'H:i'
        });
                jQuery('#id_automobile_request_return_time').datetimepicker({
        datepicker:false,
        format:'H:i'
        });
            });
        </script>
{% endblock %}