{% extends 'main/main.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
 <div class="uk-container uk-container-small uk-position-relative">
    {{form.media}}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="uk-button uk-button-primary " style="background-color: #27475c; right: auto" type="submit" value="Добавить">
    </form>
 <script>
            jQuery(document).ready(function () {
                jQuery('#id_journal_factory_of_work_date_start').datetimepicker();
                jQuery('#id_journal_factory_of_work_date_finish').datetimepicker();
            });
        </script>
</div>

{% endblock %}