{% extends 'main/main.html' %}

{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<table class="styled-table">
    <thead>
        <tr>
            <th>ФИО сотрудника</th>
            <th>Примечание</th>
            <th>Начало периода</th>
            <th>Конец периода</th>
            <th>Классификация записи</th>
            <th>Подразделение</th>
            <th>Дата публикации</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tr>
    <form method="GET" style=" display: inline-block;" >
                <th>{{ myFilter.form.journal_factory_of_work_user}}</th>
                <th>{{ myFilter.form.journal_factory_of_work_note}}</th>
                <th>{{ myFilter.form.journal_factory_of_work_date_start}}</th>
                <th>{{ myFilter.form.journal_factory_of_work_date_finish}}</th>
                <th>{{ myFilter.form.journal_factory_of_work_classifier}}</th>
                <th>{{ myFilter.form.journal_factory_of_work_subdibision}}</th>
                <th>{{ myFilter.form.journal_factory_of_work_pub_date}}</th>
                <td>
                    <button type="submit" uk-icon="search" style="color: black;"></button>
    </form>

    <a href="{% url 'JournalFactoryOfWorkCreateView'  %}" uk-icon="plus" style="color: black;"></a>
    <a href="{% url 'JournalFactoryOfWorkPrint'  %}" uk-icon="print" style="color: black;"></a>
                </td>
        </tr>
    <tbody>
    {% for FactoryOfWork in myFilter.qs %}
            <tr>
                <td>{{ FactoryOfWork.journal_factory_of_work_user }}</td>
                <td>{{ FactoryOfWork.journal_factory_of_work_note }}</td>
                <td>{{ FactoryOfWork.journal_factory_of_work_date_start }}</td>
                <td>{{ FactoryOfWork.journal_factory_of_work_date_finish }}</td>
                <td>{{ FactoryOfWork.journal_factory_of_work_classifier }}</td>
                <td>{{ FactoryOfWork.journal_factory_of_work_subdibision }}</td>
                <td>{{ FactoryOfWork.journal_factory_of_work_pub_date }}</td>
                <td>
                    <div style="text-align: center;">
                        <a  onclick="deleteView({{ FactoryOfWork.pk }})"><span uk-icon="trash" style="color: black;"></span></a>
                        <a  href="{% url 'JournalFactoryOfWorkUpdate' FactoryOfWork.pk  %}"><span uk-icon="file-edit" style="color: black;"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <script>
            jQuery(document).ready(function () {
                jQuery('#id_journal_factory_of_work_date_start').datetimepicker();
                jQuery('#id_journal_factory_of_work_date_finish').datetimepicker();
            });
        </script>
     <script>
            function deleteView(pk){
                if (window.confirm("Вы дуйствительно хотите удалить данную запись?")) {
                    window.open("/journal/FactoryOfWork/delete/"+pk);
            }
        }
    </script>
{% endblock %}